/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.app {
  width: 100vw;
  height: 100vh;
  background-color: #3264c7;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.content {
  border-radius: 15px;
  overflow: hidden;
  background-color: #E0E0E0;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6F7179; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@media screen and (min-width: 1441px) {
  .content {
    top: 19px;
    width: calc(100% - 38px);
    max-width: 1600px;
    height: calc(100% - 38px);
  }

  /* html[dir] .app-wrapper-web ._1jJ70 {
      margin: 0 auto;
      box-shadow: 0 6px 18px rgba(var(--shadow-rgb),.05)
  }

  html[dir] .app-wrapper-web.safari-fix ._1jJ70 {
      border-radius: 4px
  } */
}