/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.app {
  width: 100vw;
  height: 100vh;
  /* background-color: #3264c7; */
  background-color: #82fcf0;
  /* background: linear-gradient(180deg, rgba(130,252,240,1) 0%, rgba(0,153,137,1) 100%); */
  background: linear-gradient(180deg, rgba(108,218,207,1) 0%, rgba(0,153,137,1) 100%);
  /* background: linear-gradient(180deg, rgba(0,93,119,1) 0%, rgba(0,112,100,1) 35%, rgba(0,17,35,1) 100%); */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.content {
  border-radius: 15px;
  overflow: hidden;
  background-color: #E0E0E0;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5693A1; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #025E73; 
}
@media screen and (min-width: 1441px) {
  .content {
    top: 19px;
    width: calc(100% - 38px);
    max-width: 1600px;
    height: calc(100% - 38px);
  }

  /* html[dir] .app-wrapper-web ._1jJ70 {
      margin: 0 auto;
      box-shadow: 0 6px 18px rgba(var(--shadow-rgb),.05)
  }

  html[dir] .app-wrapper-web.safari-fix ._1jJ70 {
      border-radius: 4px
  } */
}
@media screen and (max-width: 1200px) {
  .content {
    width: 100vh;
    height: 100vh;
  }
}